{% extends 'base.html' %} {% load static %} {% block title %}{{meetup.title}}
{% endblock %} {% block css_files %}
<link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}" />
{% endblock %}

{% block content %}
<a class="title" href="/">DjangoMeetups</a>
{% if meetup_found %}
<h2 class="mt-2">{{meetup.title}}</h2>
<div class="container">
  <div class="center">
    <div class="card">
      <div class="card-header">
        <div class="card-body">
          <img src="{{meetup.image.url}}" class="img-fluid rounded " id="main-image">
          <h2>Meetup Location</h2>
          <p>
            This meeting takes place in <span>{{meetup.location.name}}</span> (ADDRESS)
          </p>
        </div>

        <div>
          <h2>What's This Meetup About?</h2>
          <p>{{meetup.description}}</p>
        </div>
        <footer>
          <p>Need more details? Please <span><a href="mailto:{{meetup.organizer_email}}">contact the
                organizer</a></span>(but don't spam us :) )</p>
          <h2>Join Us!</h2>
          <form action="{% url 'meetup-detail' meetup.slug %}" method="POST">
            {% csrf_token %}
            <ul>
              {{ form.as_ul }}
            </ul>
            <div id="registration-actions">
              <button>Register</button>
            </div>
          </form>
        </footer>
      </div>
    </div>
  </div>
</div>
{% else %}
<p>NO MEETUP FOUND FOR THIS SLUG, sorry!</p>
{% endif %}
{% endblock %}